<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{%static 'style.css'%}">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

     <style>
      .card-container {
  display: flex;
}

.card {
  display: inline-block;
  margin-right: 10px; /* Adjust the margin as needed */
}
 
     </style>



</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CARS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%static 'index.html'%}">sign in</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Car Rent</a></li>
              <li><a class="dropdown-item" href="#">Luxury Car Rent</a></li>
              <li><a class="dropdown-item" href="#">VIP Services</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>



  <div id="carouselExampleCaptions" class="carousel slide">
     
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'Car-Rentals-in-India.jpg'%}" class="d-block w-100" alt="img">
        <div class="carousel-caption d-none d-md-block">
          <h5>Introducing our top-notch car rental service!</h5>
          <p>Are you looking for a convenient and hassle-free way to explore the city or travel to your next destination?</p>
        </div>
      </div>
      
  </div>
  <br>


   

  
  <div class="card-container">
    <div class="card" style="width: 18rem;">
      <img src="{%static 'merc.jpg'%}" class="card-img-top" alt="img">
      <div class="card-body">
        <h5 class="card-title">Mercedes Benz</h5>
        <p class="card-text">Our easy online booking system allows you to reserve your desired vehicle in just a few clicks.</p>
        <a href="#" class="btn btn-primary">Try it</a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="{%static 'car-vehicle-luxury-116675.jpg'%}" class="card-img-top" alt="img">
      <div class="card-body">
        <h5 class="card-title">Land Rover</h5>
        <p class="card-text">Our easy online booking system allows you to reserve your desired vehicle in just a few clicks.</p>
        <a href="#" class="btn btn-primary">Try it</a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="{%static 'merc.jpg'%}" class="card-img-top" alt="img">
      <div class="card-body">
        <h5 class="card-title">Land Rover</h5>
        <p class="card-text"> Land Rover is a well-known automotive brand that specializes in producing luxury SUVs. </p>
        <a href="#" class="btn btn-primary">Try it</a>
      </div>
    </div>
  </div>
 
  </div>
</div>




 
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
  </ul>
</footer>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>